<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="{% block style %}{% endblock %}">
    <title>Document</title>
</head>
<body>
    <div class="banner">
        <div class="navbar">
            <img src="/img/logo.png" alt="" class="logo">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/browse/0">Browse</a></li>
                <li><a href="/user/create">Login</a></li>
                <li><a href="/upload">+ Anime</a></li>
            </ul>
        </div>
        {% block content %}
        {% endblock %}
        </div>
    </div>
</body>
</html>