.img-fluid {
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}


.img-fluid:hover {
    opacity: 0.5;
}

.img-fluid{
    cursor: pointer;
}

.card-title {
    color: #fff !important;
}

.card{
    background-color: rgba(129, 33, 219, 0.664) !important;
}

.btn{
    background-color: blueviolet !important;
    border-color: black !important;
}

.tooltip-head{
    color: #fff;
    background: #000;
    padding: 10px 10px 5px;
    border-radius: 4px 4px 0 0;
    text-align: center;
    margin-bottom: -2px; /* Hide default tooltip rounded corner from top */
}
.tooltip-head h3{
    margin: 0;
    font-size: 18px;
}
.tooltip-head i{
    font-size: 22px;
    vertical-align: bottom;
}

.container{
    max-width: 1100px !important;
}