{% extends "index.html" %}
{% block style %} /static/css/anime.css {% endblock %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <section class="section about-section gray-bg" id="about">
        <div class="container">
            <div class="row align-items-center flex-row-reverse">
                <div class="col-lg-6">
                    <div class="about-text go-to">
                        <h3 class="dark-color">{{files.name}}</h3>
                        <h6 class="theme-color lead">Synopsis</h6>
                        <p class="text-light">{{files.description}}</p>
                        <div class="row about-list">
                            <div class="col-md-6">
                                <div class="media">
                                    <label>Aired Date</label>
                                    <p class="text-light">{{files.air_date}}</p>
                                </div>
                                <div class="media">
                                    <label>Episodes</label>
                                    <p class="text-light">{{files.episode_count}}</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="media">
                                    <label>Studio</label>
                                    <p class="text-light">{{files.studio}}</p>
                                </div>
                                <div class="media">
                                    <label>Producer</label>
                                    <p class="text-light">{{files.producer}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-avatar">
                        <img src="/uploads/{{ files.file_name }}" style="width: 500px; height: 400px; border: 5px solid black; border-radius: 25px;" title alt>
                    </div>
                </div>
            </div>
<!-- <div class="counter mt-3">
<div class="row">
<div class="col-6 col-lg-3">
<div class="count-data text-center">
<h6 class="count h2" data-to="500" data-speed="500">500</h6>
<p class="m-0px font-w-600 text-light">Rating</p>
</div>
</div>
<div class="col-6 col-lg-3">
<div class="count-data text-center">
<h6 class="count h2" data-to="150" data-speed="150">150</h6>
<p class="m-0px font-w-600 text-light">Favorited</p>
</div>
</div>
<div class="col-6 col-lg-3">
<div class="count-data text-center">
<h6 class="count h2" data-to="850" data-speed="850">850</h6>
<p class="m-0px font-w-600 text-light">Liked</p>
</div>
</div>
<div class="col-6 col-lg-3">
<div class="count-data text-center">
<h6 class="count h2" data-to="190" data-speed="190">190</h6>
<p class="m-0px font-w-600 text-light">Watched Eps</p>
</div>
</div>
</div>
</div> -->
        </div>
    </section>
<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript">
	
</script>
</body>
{% endblock %}